<?xml version="1.0"?>
<!--
/**
 * MagoArab_WithoutEmail extension
 *
 * @category  MagoArab
 * @package   MagoArab_WithoutEmail
 * @author    MagoArab
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magoarab" translate="label" sortOrder="100">
            <label>MagoArab</label>
        </tab>
        <section id="magoarab_withoutemail" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>WithoutEmail</label>
            <tab>magoarab</tab>
            <resource>MagoArab_WithoutEmail::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="phone_format" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Phone Number Format</label>
					<source_model>MagoArab\WithoutEmail\Model\Config\Source\PhoneFormat</source_model>
					<comment>Select the phone number format validation</comment>
				</field>
                <field id="min_phone_length" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Phone Length</label>
                    <validate>validate-number</validate>
                    <comment>Minimum number of digits required for phone number</comment>
                </field>
                <field id="max_phone_length" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Phone Length</label>
                    <validate>validate-number</validate>
                    <comment>Maximum number of digits allowed for phone number</comment>
                </field>
            </group>
            <group id="whatsapp_settings" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>WhatsApp OTP Settings</label>
                <field id="provider" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WhatsApp Provider</label>
                    <source_model>MagoArab\WithoutEmail\Model\Config\Source\WhatsappProvider</source_model>
                </field>
				<field id="enable_otp" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
    <label>Enable WhatsApp OTP</label>
    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
    <comment>Enable or disable WhatsApp OTP verification</comment>
</field>
                <field id="ultramsg_api_key" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>UltraMsg API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="provider">ultramsg</field>
                    </depends>
                </field>
                <field id="ultramsg_instance_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>UltraMsg Instance ID</label>
                    <depends>
                        <field id="provider">ultramsg</field>
                    </depends>
                </field>
                <field id="dialog360_api_key" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>360Dialog API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="provider">dialog360</field>
                    </depends>
                </field>
                <field id="dialog360_phone_number_id" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>360Dialog Phone Number ID</label>
                    <depends>
                        <field id="provider">dialog360</field>
                    </depends>
                </field>

                <field id="otp_length" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>OTP Length</label>
                    <validate>validate-number</validate>
                    <comment>Number of digits in the OTP code</comment>
                </field>
                <field id="otp_expiry" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>OTP Expiry (minutes)</label>
                    <validate>validate-number</validate>
                    <comment>Time in minutes before OTP expires</comment>
                </field>
            </group>
            <group id="notifications" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Notification Settings</label>
                <field id="enable_order_notifications" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Order Status Notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_processing_template" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Processing Message Template</label>
                    <comment>Use {{order_id}} to include order ID, {{customer_name}} for customer name</comment>
                    <depends>
                        <field id="enable_order_notifications">1</field>
                    </depends>
                </field>
                <field id="order_shipped_template" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Shipped Message Template</label>
                    <comment>Use {{order_id}} to include order ID, {{tracking_number}} for tracking number</comment>
                    <depends>
                        <field id="enable_order_notifications">1</field>
                    </depends>
                </field>
                <field id="order_delivered_template" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Delivered Message Template</label>
                    <comment>Use {{order_id}} to include order ID, {{customer_name}} for customer name</comment>
                    <depends>
                        <field id="enable_order_notifications">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>